/*CSS*/

/******** GENERAL ********/

/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: black;
  font-size: 1em;
}

.fonce{
  background-color: #343432;
}

.beige{
  color: #D3AD93;
}


a{
  text-decoration: none;
  color: inherit;
}


/********* HEADER *********/

header{
  color: white;
  padding: 20px 80px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.mainbar ul{
  list-style-type: none;
}

.mainbar ul li{
  display: inline;
  margin: 0 15px;
}


/*********** BANNIERE **************/

.ban{
  color: white;
  text-align: center;
  font-size: 1.5em;
  line-height: 562px;
  background: url('bg.jpg') center;
  background-size: cover;
  height: 500px;
  text-shadow: 2px 2px 8px black;
}

/************* MAIN PAGE **********/

.content{
  display: flex;
  justify-content: space-between;
  padding: 60px 90px;;

}

/************* SECTION ARTICLES ************/

.articles{
  width: 60%;
  padding: 0 100px;
}

.maintitle{
  text-align: center;
  padding: 20px;
}

.news{
  margin: 20px 0;
  border: 1px solid #D3AD93;
  padding: 30px;
  display: flex;
  flex-direction: column;

}

.articleTitle{
  text-align: center;
}

.news a{
  padding: 8px;
  width: 100px;
}

.news *{
  margin: 15px 0;
}

/************* SECTION CAT ************/

.cat{
  width: 20%;
}

/*** categories *****/

.categories{
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr{
  margin: 20px;
  height: 7px;
  width: 40px;
  border: 0;
  background-color: #D3AD93;
  text-align: center;
}

/*********** FOOTER **********/

footer{
  height: 150px;
  text-align: center;
  padding: 100px 0 0 0;
}
